.website-status-pill{
    font-size: 12pt;
    text-transform: capitalize;
}

.website-description{
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 150px;
}